{% load staticfiles %}

<div class="media">
     <img src="{% static "img/logo2.jpg" %}" class="logo" alt="Responsive image">
<div id="span">

</div>
</div>

<nav class="cl-effect-14">
    <div class="hidden-xs hidden-sm hidden-md">
    <a href="/home/" id="home">HOME</a>
    <a id="about" href="/about/">ABOUT US
      <div id="aboutq" class="quote" style="background:#F57AE5; margin-top:-290px;"><blockquote><p>Executive Team</p><hr><p>Regional Marketers</p></blockquote></div>
    </a>
    <a id="conference" href="/conference/#site-header">CONFERENCE
        <div id="conferenceq" class="quote" style="margin-top: -295px; background:#F3D879;"><blockquote><p>Networking</p><hr><p>Schedule and Venue</p><hr><p>YAS Scholarship</p></blockquote></div>
    </a>

    <a id="career-focuses" href="/career-focuses/#site-header">CAREER FOCUSES
        <div id="career-focusesq" class="quote" style="margin-top: -300px; background:#F57A96;"><blockquote><p>Engineering</p><hr><p>Game Design</p><hr><p>Investment Banking</p><hr><p>...</p></blockquote></div>
    </a>
    <a href="/registration/#site-header">REGISTRATION</a>
    <a href="/sponsorship/#site-header">SPONSORSHIP</a>
    <a id="contact" href="/contact/#site-header">CONTACT US
    <div id="contactq" class="quote"><blockquote><p>FAQ</p></blockquote></div></a>
</nav>

